.header{
  display: flex;
  padding: 20px;
  gap: 600px;
}

.launch-card {
    border: 1px solid #eaeaea;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .launch-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .launch-image {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-right: 15px;
  }
  
  .launch-title {
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .launch-links a {
    margin-right: 10px;
  }



.autocomplete {
  position: relative;
  display: inline-block;
  width: 300px;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: dodgerblue;
    color: #f1f1f1;
    cursor: pointer;
}

.autocomplete-items {
    position: absolute;
    border: 10px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /* position autocomploete items to be the same width as container  */
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: dodgerblue !important;
    color: #ffffff;
}